@import "../variables.scss";

.btn {
  background: $default-green;
  border-radius: 4px;
  width: 100%;

  font-size: 17px;
  transition: background-color .2s, color .2s;

  //@media (max-width: 1200px) {
  //  font-size: 12px;
  //}

  &:hover {
    background: $focused-green;
    color: $focused-white;
    transition: background-color .2s, color .2s;
  }

  &:active {
    background: $click-green;
    color: $click-white;
    transition: background-color .2s, color .2s;
  }
}

.btn.line {
  color: $default-green;
  background: transparent;
  border: 1px solid $focused-green;

  &:hover {
    background: $focused-green;
    color: $default-white;
  }

  &:active {
    background: $click-green;
  }
}

.tertiary-btn {
  display: flex;
  align-items: center;
  background: $default-green;
  color: $default-white;
  font-size: 14px;
  top: 16px;
  left: 16px;
  position: absolute;
  padding: 8px 12px;
  width: unset;
  border-radius: 60px;

  transition: background-color .2s, color .2s;

  @media (max-width: 1200px) {
    font-size: 12px;
  }

  &:hover {
    background: $focused-green;
    color: $focused-white;
    transition: background-color .2s, color .2s;
  }

  &:active {
    background: $click-green;
    color: $click-white;
    transition: background-color .2s, color .2s;
  }
}

.filter-btn {
  font-size: 17px;
  padding: 12px 16px;
  width: unset;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: rgba(255, 255, 255, 0.03);

  @media (max-width: 1200px) {
    font-size: 12px;
  }

  &:hover {
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.05);
  }

  &.active {
    border: 1px solid $default-white;
    background: $default-white;
    color: var(--main-background-color, #11011E);
    cursor: unset;
  }
}

.burger-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform .2s;
  row-gap: 4px;
  width: 18px;
  height: 14px;
  cursor: pointer;

  &.opened span:first-child {
    transform: translateY(6px) rotate(45deg);
  }

  &.opened span:nth-child(2) {
    transform: scale(0);
  }

  &.opened span:last-child {
    transform: translateY(-6px) rotate(-45deg);
  }

  & span {
    width: 18px;
    height: 2px;
    background-color: $default-white;
    border-radius: 6px;
    transition: transform .2s;
  }
}


