//&-form {
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//  max-width: 422px;
//  row-gap: 16px;
//
//  textarea {
//    max-height: 136px;
//    height: 100%;
//  }
//
//  &__input {
//    width: 422px;
//    height: 50px;
//    flex-shrink: 0;
//    padding: 12px 14px;
//
//    border-radius: 4px;
//    border: 0.5px solid rgba(255, 255, 255, 0.05);
//    background: rgba(255, 255, 255, 0.02);
//
//    font-family: Inter, sans-serif;
//    font-size: 17px;
//    font-style: normal;
//    font-weight: 400;
//    line-height: normal;
//    resize: none;
//
//    &::placeholder {
//      color: $default-white;
//
//      font-family: Inter, sans-serif;
//      font-size: 17px;
//      font-style: normal;
//      font-weight: 400;
//      line-height: normal;
//    }
//
//    &:hover {
//      color: $focused-white;
//      border: 1px solid rgba(255, 255, 255, 0.10);
//      background: rgba(255, 255, 255, 0.05);
//      transition: background-color .2s;
//    }
//
//  }
//}
//
//&.checkbox {
//  display: flex;
//  column-gap: 12px;
//  width: 100%;
//  cursor: pointer;
//  user-select: none;
//  -webkit-user-select: none;
//
//  & input {
//    display: none;
//
//    &:checked + .contacts-main-form-checkbox__toggle {
//      background: $default-green;
//      border: 1px $default-green;
//    }
//
//    &:checked + .contacts-main-form-checkbox__toggle::before {
//      background: $default-white;
//      top: 2px;
//      left: 22px;
//    }
//  }
//
//  &.toggle {
//    position: relative;
//    width: 40px;
//    height: 20px;
//    border-radius: 10px;
//    border: 0.5px solid rgba(255, 255, 255, 0.05);
//    background: rgba(255, 255, 255, 0.02);
//    transition: background-color .2s, border-color .2s;
//
//    &::before {
//      content: "";
//      position: absolute;
//      top: 1px;
//      left: 1px;
//      height: 16px;
//      width: 16px;
//      border-radius: 10px;
//      background: rgba(255, 255, 255, 0.05);
//      transition: right .2s, left .2s, background-color .2s;
//    }
//
//    &:hover {
//      border: 0.5px solid rgba(255, 255, 255, 0.10);
//      background: rgba(255, 255, 255, 0.10);
//      transition: border-color .2s;
//    }
//  }
//}