.icon-left {
  display: flex;
  justify-content: center;

  @media (max-width: 1200px) {

    }

  &:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 8px;

    @media (max-width: 1200px) {
      width: 16px;
      height: 16px;
    }
  }
}

.icon-right {
  display: flex;
  justify-content: center;

  @media (max-width: 1200px) {

    }

  &:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-left: 8px;

    @media (max-width: 1200px) {
      width: 16px;
      height: 16px;
    }
  }
}

.blur {
  padding: 7px 12px;
  border-radius: 1000px;
  border: 0.5px solid rgba(255, 255, 255, 0.10);
  background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(50px);

  @media (max-width: 1200px) {

    }
}

