.pagination {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -89px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 18px;
  max-width: 57px;
  padding: 6px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: rgba(255, 255, 255, 0.03);

  @media (max-width: 1600px) {
    position: static;
    top: unset;
    transform: translateY(0);
    right: unset;
    flex-direction: row;
    row-gap: 18px;
    max-width: 148px;
    align-self: center;
  }

}

.pagination-btn {
  display: flex;
  width: 45px;
  height: 45px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  background: transparent;
  transition: background-color .2s;

  @media (max-width: 1600px) {
    width: 34px;
    height: 34px;
    padding: 6px 12px;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.03);

    @media (max-width: 1600px) {

    }

  }

  &.active {
    display: flex;
    width: 45px;
    height: 45px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.10);
    cursor: unset;

    @media (max-width: 1600px) {
      width: 34px;
      height: 34px;
    }
  }
}
