<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <script defer src="/src/js/index.js"></script>
    <script type="module" src="/src/pages/blog/main.js"></script>
</head>
<body>
{{> navbar }}

<div class="blog-wrapper">
    <div class="container">
        <div class="blog">
            <main class="blog-main">
                <h1 class="blog-main__title">Что такое кодинг и зачем нужны тестировщики?</h1>

                <div class="desktop-only blog-main-information">
                    <p class="desktop-only icon-left blur blog-main-information__views">24,390</p>
                    <p class="desktop-only icon-left blur blog-main-information__date">Дата публикации: 13 Апреля,
                        2022</p>
                    <button class="desktop-only btn blog-main-information-share">
                        <img src="/public/images/clarity_share-solid.svg" alt="share icon">
                    </button>
                </div>

                <div class="blog-main-view">
                    <div class="blog-main-view-information">
                        <p class="mobile-only icon-left blur blog-main-view-information__views">24k</p>
                        <p class="mobile-only icon-left blur blog-main-view-information__date">05.07.2022</p>
                    </div>
                    <button class="mobile-only btn blog-main-view-share">
                        <img class="blog-main-view-share__img" src="/public/images/clarity_share-solid.svg"
                             alt="share icon">
                    </button>

                    <a class="icon-left tertiary-btn blog-main-view__development" href="#">Разработка</a>
                </div>

                <p class="blog-main-image__text">
                    Нашу жизнь невозможно представить без компьютеров, смартфонов, а значит и нужного для их работы ПО.
                    Всего этого не было бы без кодинга. Хотя это не новый термин, но люди всё еще плохо понимают, что он
                    означает.
                </p>
                <p class="blog-main-image__text">
                    Издание Business Insider опубликовало краткое руководство по кодингу. Мы подготовили адаптированный
                    перевод материала.
                </p>
                <h2 class="blog-main-image__title">
                    Что такое кодинг
                </h2>
                <p class="blog-main-image__text">
                    Кодинг — это процесс написания программного кода или скрипта для выполнения определенного алгоритма.
                    Этим занимаются кодеры. Считается, что для выполнения такой работы нужна хотя бы степень бакалавра.
                    Многие кодеры — самоучки. Некоторые начинают с более скромной двухлетней программы и доучиваются уже
                    на
                    работе.
                </p>

                <img src="/images/blog/unsplash.png" alt="banner" class="blog-main-image__banner">

                <h2 class="blog-main-image__title">
                    Как пишут скрипт с компьютерной инструкцией
                </h2>
                <p class="blog-main-image__text">
                    Инструкции обычно пишут на языке программирования высокого уровня.
                    Среди них — C++, Basic, Python, Fortran. Их называют «языки»,
                    потому что они включают рудименты английского языка и относительно понятны людям.
                </p>

                <p class="blog-main-image__text">
                    Код содержит утверждения и команды, которые после некоторой тренировки можно прочитать и понять.
                    Одним из самых ярких примеров простого кода является простая команда «print ‘Hello, world!’».
                </p>

                <p class="blog-main-image__text">
                    Даже без дополнительного обучения ясно, что кодер хочет напечатать фразу «Hello, world!». Нюанс в
                    том,
                    что нужно дополнительно указать назначение. Например, напечатать на экране или на бумаге принтера.
                    Кодинг позволяет создавать сложные программы с сотнями тысяч строк кода. В процессе нужно следить за
                    синтаксисом,
                    чтобы компьютер понимал код и выполнял его без ошибок.
                </p>

            </main>

            <aside class="blog-aside">
                <h2 class="blog-aside__title">Популярные статьи</h2>
                <section class="blog-aside-selection">

                    <section class="blog-aside-selection-filter" id="blog-aside-selection-filter">
                        <button class="btn filter-btn blog-aside-selection-filter-button">За неделю</button>
                        <button class="btn filter-btn blog-aside-selection-filter-button">За месяц</button>
                        <button class="btn filter-btn blog-aside-selection-filter-button active">За день</button>
                    </section>

                    <div class="blog-aside-selection-overlay">

                        <section class="blog-aside-selection-overlay-grid">

                            <div class="blog-aside-selection-overlay-grid-item">


                                <section class="blog-aside-selection-overlay-grid-item-view">
                                    <img class="blog-aside-selection-overlay-grid-item-view__img" src="/images/game_img.png"
                                         alt="gaming image">
                                    <a class="icon-left tertiary-btn blog-aside-selection-overlay-grid-item-view__gaming"
                                       href="#">Гейминг</a>
                                    <p class="icon-left blur blog-aside-selection-overlay-grid-item-view__views">
                                        24К
                                    </p>
                                </section>
                                <section class="blog-aside-selection-overlay-grid-item-text">
                                    <h3 class="blog-aside-selection-overlay-grid-item-text__title">Следующая часть Mass Effect перешла в
                                        ранню...</h3>
                                    <p class="blog-aside-selection-overlay-grid-item-text__subtitle">
                                        Студия BioWare поделилась прогрессом создания следующей игры из серии Mass Effect...
                                    </p>
                                    <a href="#" class="btn line blog-aside-selection-overlay-grid-item-text__more">Просмотреть</a>
                                </section>


                            </div>

                            <div class="blog-aside-selection-overlay-grid-item">

                                <section class="blog-aside-selection-overlay-grid-item-view">
                                    <img class="blog-aside-selection-overlay-grid-item-view__img"
                                         src="/images/monitors_img.png" alt="fishing image">
                                    <a class="icon-left tertiary-btn blog-aside-selection-overlay-grid-item-view__phishing"
                                       href="#">Фишинг</a>
                                    <p class="icon-left blur blog-aside-selection-overlay-grid-item-view__views">
                                        24К
                                    </p>
                                </section>
                                <section class="blog-aside-selection-overlay-grid-item-text">
                                    <h3 class="blog-aside-selection-overlay-grid-item-text__title">Что такое фишинг и как от него
                                        защититься?</h3>
                                    <p class="blog-aside-selection-overlay-grid-item-text__subtitle">
                                        Первые фишинговые атаки появились в конце прошлого века, а сейчас, по оценкам
                                        Google,
                                        жертвами фишига...
                                    </p>
                                    <a href="#" class="btn line blog-aside-selection-overlay-grid-item-text__more">Просмотреть</a>
                                </section>

                            </div>

                            <div class="blog-aside-selection-overlay-grid-item">

                                <section class="blog-aside-selection-overlay-grid-item-view">
                                    <img class="blog-aside-selection-overlay-grid-item-view__img"
                                         src="/images/anonim_masks_img.png" alt="security image">
                                    <a class="icon-left tertiary-btn blog-aside-selection-overlay-grid-item-view__security"
                                       href="#">Безопасность</a>
                                    <p class="icon-left blur blog-aside-selection-overlay-grid-item-view__views">
                                        24К
                                    </p>
                                </section>
                                <section class="blog-aside-selection-overlay-grid-item-text">
                                    <h3 class="blog-aside-selection-overlay-grid-item-text__title">Что такое кибербезопасность?</h3>
                                    <p class="blog-aside-selection-overlay-grid-item-text__subtitle">
                                        Кибербезопасность (ее иногда называют компьютерной безопасностью) – это
                                        совокупность...
                                    </p>
                                    <a href="#" class="btn line blog-aside-selection-overlay-grid-item-text__more">Просмотреть</a>
                                </section>

                            </div>
                            
                        </section>

                        

                    </div>


                    <img class="desktop-only blog-aside-selection__add" src="/images/blog/add.jpg" alt="add">

                </section>

            </aside>
        </div>


    </div>
</div>

{{> footer }}
</body>
</html>