@import "/src/scss/variables.scss";

.blog-wrapper {
  margin-top: 64px;

  @media (max-width: 1200px) {
    margin-top: 32px;
  }
}

.blog {
  display: grid;
  grid-template-columns: 1fr 566px;
  column-gap: 25px;
  height: 100%;

  @media (max-width: 1324px) {
    grid-template-columns: unset;
    display: flex;
    flex-direction: column;
    column-gap: 32px;
  }

  &-main {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    height: 100%;

    @media (max-width: 1324px) {

    }


    &__title {

    }

    &-information {
      display: flex;

      &.desktop-only {
        @media (max-width: 1324px) {
          display: none;
        }
      }

      @media (max-width: 1324px) {

      }


      &__views {
        font-size: 14px;
        margin-right: 16px;
        user-select: none;

        @media (max-width: 1324px) {

        }


        &::before {
          background: url(/public/images/ic_baseline-remove-red-eye.svg) no-repeat center / contain;
        }
      }

      &__date {
        font-size: 14px;
        margin-right: 12px;
        user-select: none;

        @media (max-width: 1324px) {

        }


        &::before {
          background: url(/public/images/ic_baseline-date-range.svg) no-repeat center / contain;
        }
      }

      &-share {
        padding: 9px;
        width: 34px;
        height: 34px;
        border-radius: 100px;
        background: $default-green;

        @media (max-width: 1324px) {

        }

      }
    }

    &-view {
      position: relative;
      background: url(/public/images/code_img.png) no-repeat center / cover;
      width: 709px;
      height: 460px;

      @media (max-width: 1324px) {
        width: 100%;
        height: 375px;
      }

      @media (max-width: 768px) {
        height: 233px;
      }

        &-information {
          position: absolute;
          display: flex;
          column-gap: 8px;
          bottom: 16px;
          left: 16px;

          &__views {
            font-size: 14px;
            user-select: none;
            bottom: 14px;
            left: 14px;

            @media (max-width: 1324px) {

            }


            &::before {
              background: url(/public/images/ic_baseline-remove-red-eye.svg) no-repeat center / contain;
            }
          }

          &__date {
            font-size: 14px;
            margin-right: 12px;
            user-select: none;

            @media (max-width: 1324px) {

            }


            &::before {
              background: url(/public/images/ic_baseline-date-range.svg) no-repeat center / contain;
            }
          }
        }


        &-share {
          position: absolute;
          padding: 9px;
          width: 34px;
          height: 34px;
          border-radius: 100px;
          background: $default-green;
          right: 14px;
          top: 14px;

          @media (max-width: 1324px) {

          }
        }

        &__development {

          &:before {
            background: url(/public/images/ic_outline-data-object.svg) no-repeat center / contain;
          }
        }

    }
  }

  &-aside {
    display: flex;
    flex-direction: column;
    row-gap: 64px;

    @media (max-width: 1324px) {

    }


    &__title {
      letter-spacing: -0.3px;

      @media (max-width: 1324px) {

      }

    }

    &-selection {
      display: flex;
      flex-direction: column;
      row-gap: 32px;

      @media (max-width: 1324px) {

      }

      &-filter {
        display: flex;
        column-gap: 17px;

        @media (max-width: 1324px) {

        }


        &-button {


          &:hover {

          }

          &.active {

          }
        }
      }

      &-overlay {

        @media (max-width: 1324px) {
          display: flex;
          align-items: center;
          flex-wrap: nowrap;
          width: 100%;
          height: 100%;
        }

        ::-webkit-scrollbar {
          width: 0;
          height: 0;
        }

        ::-webkit-scrollbar-track {
          background: transparent;
        }

        ::-webkit-scrollbar-thumb {
          background-color: $default-white;
          border-radius: 10px;
        }

        ::-webkit-scrollbar-thumb:hover {
          background-color: $focused-white;
        }

        &-grid {
          display: flex;
          flex-direction: column;
          gap: 16px;

          @media (max-width: 1324px) {
            flex-direction: row;
            overflow-x: auto;
          }

          &-item {
            display: flex;
            width: 100%;
            column-gap: 24px;
            border-radius: 16px;

            @media (max-width: 1324px) {
              flex-direction: column;
              row-gap: 16px;
              width: 181px;
              height: 100%;
            }


            &-view {
              position: relative;
              width: 218px;
              height: 218px;
              flex-shrink: 0;

              @media (max-width: 1324px) {
                width: 100%;
                height: unset;
              }


              &__img {
                height: 100%;
                border-radius: 8px;
                object-fit: cover;
                object-position: center;

                @media (max-width: 1324px) {
                  width: 181px;
                  height: 137px;
                }

              }

              &__gaming {

                @media (max-width: 1324px) {
                  font-size: 8px;
                  padding: 4px 12px;
                }

                &::before {
                  background: url(/public/images/ic_baseline-discord.svg) no-repeat center / contain;

                  @media (max-width: 1324px) {
                    width: 12px;
                    height: 12px;
                  }

                }
              }

              &__phishing {

                @media (max-width: 1324px) {
                  font-size: 8px;
                  padding: 4px 12px;
                }

                &::before {
                  background: url(/public/images/ic_baseline-phishing.svg) no-repeat center / contain;

                  @media (max-width: 1324px) {
                    width: 12px;
                    height: 12px;
                  }
                }
              }

              &__security {

                @media (max-width: 1324px) {
                  font-size: 8px;
                  padding: 4px 12px;
                }

                &::before {
                  background: url(/public/images/ic_baseline-gpp-good.svg) no-repeat center / contain;

                  @media (max-width: 1324px) {
                    width: 12px;
                    height: 12px;
                  }
                }
              }

              &__views {
                position: absolute;
                display: flex;
                align-items: center;
                font-size: 12px;
                font-weight: 600;
                user-select: none;
                left: 15px;
                bottom: 16px;
                padding-right: 10px;

                @media (max-width: 1324px) {
                  font-size: 8px;
                  padding: 4px 12px;
                }


                &::before {
                  background: url(/public/images/ic_baseline-remove-red-eye.svg) no-repeat center / contain;

                  @media (max-width: 1324px) {
                    width: 12px;
                    height: 12px;
                  }
                }
              }
            }

            &-text {
              display: flex;
              flex-direction: column;
              row-gap: 16px;

              @media (max-width: 1324px) {

              }

              &__title {

                @media (max-width: 1324px) {
                  font-size: 14px;
                }
              }

              &__subtitle {
                font-size: 17px;

                @media (max-width: 1324px) {
                  display: none;
                }
              }

              &__more {
                display: flex;
                justify-content: center;
                max-width: 170px;
                padding: 12px;
                
                @media (max-width: 1324px) {
                  display: none;
                }

              }
            }
          }
        }


      }
    }
  }
}