<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TrustCrypt - Home page</title>

    <script type="module" src="/src/pages/index/main.js"></script>
</head>
<body>
{{> navbar }}
<div class="hero-wrapper">
    <div class="container">
        <section class="hero">

            <section class="hero-info">
                <div class="hero-info-text">
                    <h1 class="hero-info-text__title">Передовая кибербезопасность для любой компании </h1>
                    <p class="hero-info-text__description">Защитите ваш бизнес от всех видов киберугроз с помощью
                        решений
                        мирового класса. </p>
                    <a href="#" class="btn hero-info-text__link">Подробнее</a>
                </div>
                <img class="hero-info__img" src="/images/index/hero/hero-img.png" alt="cyber security">
            </section>

            <section class="hero-info">
                <div class="hero-info-slider">
                    <img class="hero-info-slider__slide" src="/images/index/hero/security-chess-img.png"
                         alt="slide cyber security">
                    <div class="hero-info-slider-pagination">
                        <button class="hero-info-slider-pagination__item"></button>
                        <button class="hero-info-slider-pagination__item"></button>
                        <button class="hero-info-slider-pagination__item active"></button>
                    </div>
                </div>
                <div class="hero-info-text">
                    <h2 class="text-align-center hero-info-text__title">
                        Кибербезопасность нового поколения
                    </h2>
                    <p class="text-align-center hero-info-text__description">Масштабируемая защита от самых сложных
                        киберугроз, учитывающая
                        потребности вашего бизнеса. </p>
                </div>
            </section>

        </section>
    </div>
</div>
<div class="instruments-wrapper">
    <div class="container">
        <section class="instruments">
            <h2 class="instruments__title">Инструменты</h2>
            <p class="instruments__description">Тестирование на проникновение позволяет ответить на вопрос, как кто-то
                со злым умыслом может вмешаться в вашу сеть.</p>
            <section class="instruments-overlay">
                <div class="instruments-overlay-items">
                    <a href="#" class="instruments-overlay-items-item">
                        <img class="instruments-overlay-items-item__img"
                             src="/images/index/instruments/metasploit-tool.svg"
                             alt="metasploit tool">
                    </a>
                    <a href="#" class="instruments-overlay-items-item">
                        <img class="instruments-overlay-items-item__img"
                             src="/images/index/instruments/metasploit-tool.svg"
                             alt="metasploit tool">
                    </a>
                    <a href="#" class="instruments-overlay-items-item">
                        <img class="instruments-overlay-items-item__img"
                             src="/images/index/instruments/metasploit-tool.svg"
                             alt="metasploit tool">
                    </a>
                    <a href="#" class="instruments-overlay-items-item">
                        <img class="instruments-overlay-items-item__img"
                             src="/images/index/instruments/metasploit-tool.svg"
                             alt="metasploit tool">
                    </a>
                </div>
            </section>
        </section>
    </div>
</div>
<div class="products-wrapper">
    <div class="container">
        <section class="products">
            <h2 class="products__title">Наши продукты направлены на вашу безопасность.</h2>
            <p class="products__descriptions">Мы придерживаемся в своей работе простого принципа: детектировать и
                блокировать любую вредоносную атаку.</p>
            <div class="products-items">
                <div class="products-items-item">
                    <img class="products-items-item__icon" src="/images/index/products/anonymity.svg" alt="anonymity">
                    <p class="products-items-item__title">Анонимность</p>
                </div>
                <div class="products-items-item">
                    <img class="products-items-item__icon" src="/images/index/products/check.svg" alt="check">
                    <p class="products-items-item__title">Проверка на наличие угроз</p>
                </div>
                <div class="products-items-item">
                    <img class="products-items-item__icon" src="/images/index/products/bug.svg" alt="bug">
                    <p class="products-items-item__title">Обнаружение и предотвращение атак</p>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="contacts-wrapper">
    <div class="container">
        <div class="contacts">
            <h1 class="contacts__title">Вы можете связаться с нами удобным для Вас способом</h1>
            <section class="mobile-only contacts-address">
                <a class=" contacts-address-item" href="https://gmail.google.com/">
                    <img src="/images/index/contacts/mail.svg" alt="mail icon"
                         class="contacts-address-item__icon">
                    admin@trustcrypt.com
                </a>
                <a class=" contacts-address-item" href="tel:+74950000000" target="_blank">
                    <img src="/images/index/contacts/phone.svg" alt="phone icon"
                         class="contacts-address-item__icon">
                    +7 (495) 000 - 00 - 00
                </a>
            </section>
            <section class="contacts-main">
                <div class="contacts-main-form">
                    <input class="contacts-main-form__input" placeholder="Как к Вам обращаться?">
                    <input class="contacts-main-form__input" placeholder="Какую компанию Вы представляете?">
                    <input class="contacts-main-form__input" placeholder="Адрес электронной почты">
                    <textarea class="contacts-main-form__input" placeholder="Введите ваше сообщение"></textarea>

                    <label class="checkbox contacts-main-form-checkbox">
                        <input class="contacts-main-form-checkbox__input" type="checkbox">
                        <span class="toggle contacts-main-form-checkbox__toggle"></span>
                        <span class="contacts-main-form-checkbox__text">Я согласен на обработку персональных данных</span>
                    </label>

                    <button class="btn contacts-main-form__submit-btn">Отправить данные</button>
                </div>
                <section class="contacts-main-information">
                    <ul class=" contacts-main-information-list">
                        <a class=" contacts-main-information-list-item" href="https://www.google.com.ua/"
                           target="_blank">
                            <img src="/images/index/contacts/location.svg" alt="mark icon"
                                 class="contacts-main-information-list-item__icon">
                            Ленинградский пр-т., 27, к2
                        </a>
                        <a class=" contacts-main-information-list-item" href="tel:+74950000000" target="_blank">
                            <img src="/images/index/contacts/phone.svg" alt="phone icon"
                                 class="contacts-main-information-list-item__icon">
                            +7 (495) 000 - 00 - 00
                        </a>
                        <a class=" contacts-main-information-list-item" href="https://gmail.google.com/">
                            <img src="/images/index/contacts/mail.svg" alt="mail icon"
                                 class="contacts-main-information-list-item__icon">
                            admin@trustcrypt.com
                        </a>
                    </ul>
                    <section class="contacts-main-information-nav">
                        <img class="contacts-main-information-nav__map" src="/images/index/contacts/map-image.png"
                             alt="map">
                        <div class="contacts-main-information-nav__position"></div>
                        <div class="contacts-main-information-nav-actions">
                            <button class="contacts-main-information-nav-actions-item">
                                <img src="/images/index/contacts/plus.svg" alt="zoom in"
                                     class="contacts-main-information-nav-actions-item__image">
                            </button>
                            <button class="contacts-main-information-nav-actions-item">
                                <img src="/images/index/contacts/minus.svg" alt="zoom in"
                                     class="contacts-main-information-nav-actions-item__image">
                            </button>
                        </div>
                    </section>
                </section>
            </section>
            <h1 class="contacts__title">Мы находимся по адресу</h1>
            <section class="mobile-only contacts-main-information-nav">
                <img class="contacts-main-information-nav__map" src="/images/index/contacts/map-image.png"
                     alt="map">
                <div class="contacts-main-information-nav__position"></div>
                <div class="contacts-main-information-nav-actions">
                    <button class="contacts-main-information-nav-actions-item">
                        <img src="/images/index/contacts/plus.svg" alt="zoom in"
                             class="contacts-main-information-nav-actions-item__image">
                    </button>
                    <button class="contacts-main-information-nav-actions-item">
                        <img src="/images/index/contacts/minus.svg" alt="zoom in"
                             class="contacts-main-information-nav-actions-item__image">
                    </button>

                </div>
                <a class="mobile-only contacts-main-information-nav-address" href="https://www.google.com.ua/"
                   target="_blank">
                    <img src="/images/index/contacts/location.svg" alt="mark icon"
                         class="contacts-main-information-list-item__icon">
                    Ленинградский пр-т., 27, к2
                </a>
            </section>
        </div>
    </div>
</div>
{{> footer }}

</body>
</html>