@import "/src/scss/variables.scss";

.products-grid-wrapper {
  margin-top: 64px;

  @media (max-width: 1200px) {
    margin-top: 32px;
  }
}

.products-grid {
  display: flex;
  flex-direction: column;
  row-gap: 32px;

  @media (max-width: 1200px) {

  }

  &__title {

    @media (max-width: 1200px) {
      font-size: 24px;
    }
  }

  &__subtitle {
    max-width: 611px;
    font-size: 17px;

    @media (max-width: 1200px) {

    }
  }

  &-selection {
    display: flex;
    flex-direction: column;
    row-gap: 32px;


    @media (max-width: 1200px) {

    }

   &-overlay {
     display: flex;
     align-items: center;
     width: 100%;
     height: 100%;

     ::-webkit-scrollbar {
       width: 0;
       height:0;
     }

     ::-webkit-scrollbar-track {
       background: transparent;
     }

     ::-webkit-scrollbar-thumb {
       background-color: $default-white;
       border-radius: 10px;
     }

     ::-webkit-scrollbar-thumb:hover {
       background-color: $focused-white;
     }


     &-filter {
       display: flex;
       column-gap: 16px;
       overflow-x: auto;

       @media (max-width: 1200px) {


       }

       &-button {
         min-width: 170px;

         @media (max-width: 1200px) {
           white-space: nowrap;
         }

         &:hover {

           @media (max-width: 1200px) {

           }
         }

         &.active {

           @media (max-width: 1200px) {

           }
         }
       }
     }
   }

    &-cards {
      display: grid;
      justify-content: center;
      width: 100%;
      grid-template-columns: repeat(auto-fill, minmax(412px, 1fr));
      grid-template-rows: auto;
      gap: 32px;

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
      }

      &-item {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        padding: 16px;
        width: 100%;
        border-radius: 16px;
        border: 1px solid rgba(255, 255, 255, 0.05);
        background: rgba(255, 255, 255, 0.02);

        @media (max-width: 1200px) {
          row-gap: unset;
          padding: unset;
        }

         &-slider {
          position: relative;
          border-radius: 16px 16px 0 0;
          background: url(/public/images/products/product_image.png) 0 0/cover no-repeat;
          width: 100%;
          height: 215px;

          @media (max-width: 1200px) {
            width: 100%;
          }

          &-pagination {
            position: absolute;
            background: rgba(0, 0, 0, 0.20);
            backdrop-filter: blur(50px);
            display: flex;
            column-gap: 12px;
            padding: 8px;
            width: 100%;
            justify-content: center;
            align-items: center;
            bottom: 0;

            @media (max-width: 1200px) {

            }

            &__item {
              border-radius: 100px;
              background: rgba(255, 255, 255, 0.50);
              width: 100%;
              max-width: 40px;
              height: 4px;

              @media (max-width: 1200px) {

              }

              &.active {
                //to DO trough variables
                background: #0FAE96;

                @media (max-width: 1200px) {

                }
              }
            }
          }
        }

        &-text {
          display: flex;
          flex-direction: column;
          row-gap: 8px;
          padding: 16px;

          &__title {

            @media (max-width: 1200px) {
              font-size: 21px;
            }
          }

          &__subtitle {
            font-size: 17px;

            @media (max-width: 1200px) {

            }
          }

          &__details {
            color: #D4D4D4;
            max-width: 116px;

            @media (max-width: 1200px) {

            }

            &:hover {
              //color: $default-green;
              //to DO trough variables
              color: #0FAE96;

              @media (max-width: 1200px) {

              }
            }
          }
        }
      }
    }
  }

  &-pagination {


    @media (max-width: 1200px) {

    }

    &-button {

      @media (max-width: 1200px) {

      }

      &:hover {

        @media (max-width: 1200px) {

        }

      }

      &.active {

        @media (max-width: 1200px) {

        }
      }
    }
  }

}