.contacts-wrapper {
  width: 100%;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 48px;

  @media (max-width: 1200px) {
    row-gap: 32px;
  }

  &-address {
    display: flex;
    align-items: start;
    column-gap: 24px;

    &-item {
      display: flex;
      align-items: center;
      font-size: 12px;
      column-gap: 8px;

      &__icon {
        max-width: 24px;
      }
    }
  }

  &__title {
    max-width: 660px;
    text-align: center;

    @media (max-width: 1200px) {
      font-size: 21px;
    }
  }

  &-main {
    display: grid;
    grid-template-columns: 1fr 345px;
    justify-content: center;
    column-gap: 21px;
    max-width: 855px;
    width: 100%;
    max-height: 498px;
    height: 100%;
    flex-shrink: 0;
    padding: 32px;

    border-radius: 8px;
    border: 0.5px solid rgba(255, 255, 255, 0.05);
    background: rgba(255, 255, 255, 0.02);

    @media (max-width: 1200px) {
      grid-template-columns: 1fr;
      column-gap: 16px;
      padding: 24px 16px;
      min-height: 455px;
      margin-bottom: 80px;
    }


    &-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 16px;

      @media (max-width: 1200px) {

      }

      textarea {
        height: 136px;

        @media (max-width: 1200px) {

        }
      }

      &__input {
        width: 100%;
        height: 50px;
        flex-shrink: 0;
        padding: 12px 14px;

        border-radius: 4px;
        border: 0.5px solid rgba(255, 255, 255, 0.05);
        background: rgba(255, 255, 255, 0.02);

        font-family: Inter, sans-serif;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        resize: none;

        @media (max-width: 1200px) {
          padding: 12px;
          height: 41px;
        }

        &::placeholder {
          color: $default-white;

          font-family: Inter, sans-serif;
          font-size: 17px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;

          @media (max-width: 1200px) {
            font-size: 14px;
          }
        }

        &:hover {
          color: $focused-white;
          border: 1px solid rgba(255, 255, 255, 0.10);
          background: rgba(255, 255, 255, 0.05);
          transition: background-color .2s;

          @media (max-width: 1200px) {

          }
        }

      }

      &-checkbox {
        display: flex;
        align-items: center;
        column-gap: 12px;
        width: 100%;
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;

        @media (max-width: 1200px) {

        }

        &__input {
          display: none;

          @media (max-width: 1200px) {

          }

          &:checked + .contacts-main-form-checkbox__toggle {
            background: $default-green;
            border: 1px $default-green;

            @media (max-width: 1200px) {

            }
          }

          &:checked + .contacts-main-form-checkbox__toggle::before {
            background: $default-white;
            top: 2px;
            left: 22px;

            @media (max-width: 1200px) {

            }
          }
        }

        &__toggle {
          position: relative;
          width: 40px;
          height: 20px;
          border-radius: 10px;
          border: 0.5px solid rgba(255, 255, 255, 0.05);
          background: rgba(255, 255, 255, 0.02);
          transition: background-color .2s, border-color .2s;

          @media (max-width: 1200px) {

          }

          &::before {
            content: "";
            position: absolute;
            top: 1px;
            left: 1px;
            height: 16px;
            width: 16px;
            border-radius: 10px;
            background: rgba(255, 255, 255, 0.05);
            transition: right .2s, left .2s, background-color .2s;

            @media (max-width: 1200px) {

            }
          }

          &:hover {
            border: 0.5px solid rgba(255, 255, 255, 0.10);
            background: rgba(255, 255, 255, 0.10);
            transition: border-color .2s;

            @media (max-width: 1200px) {

            }
          }
        }

        &__text {
          font-size: 14px;
          font-style: normal;
          font-weight: 400;

          @media (max-width: 1200px) {
            font-size: 11px;
          }
        }

      }

      &__submit-btn {

        padding: 14px 0;


        @media (max-width: 1200px) {
          padding: 12px 0;
          max-width: 315px;
          align-self: start;
        }
      }
    }

    &-information {
      display: flex;
      flex-direction: column;
      max-width: 345px;
      row-gap: 28px;

      @media (max-width: 1200px) {
        display: none;
      }

      &-list {
        display: flex;
        flex-direction: column;
        row-gap: 16px;

        @media (max-width: 1200px) {

        }

        &-item {
          display: flex;
          align-items: center;
          column-gap: 8px;

          @media (max-width: 1200px) {

          }

          &__icon {
            max-width: 24px;

            @media (max-width: 1200px) {

            }
          }
        }
      }

      &-nav {
        position: relative;

        @media (max-width: 1200px) {

        }

        &__map {

        }

        &__position {
          position: absolute;
          top: 147px;
          left: 152px;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          background: rgba($default-green, .5);
          cursor: pointer;

          @media (max-width: 1200px) {

          }

          &::before {
            position: absolute;
            content: "";
            width: 20px;
            height: 20px;
            top: 50%;
            transform: translate(-50%, -50%);
            left: 50%;
            border-radius: 50%;
            background: $default-green;

            @media (max-width: 1200px) {

            }
          }
        }

        &-actions {
          display: flex;
          flex-direction: column;
          position: absolute;
          right: 16px;
          top: 50%;
          transform: translateY(-50%);
          border: 1px solid rgba(255, 255, 255, 0.10);
          background: rgba(255, 255, 255, 0.10);
          backdrop-filter: blur(20px);
          border-radius: 100px;
          padding: 8px 6px;
          row-gap: 20px;

          @media (max-width: 1200px) {

          }

          &-item {
          line-height: 0;
          }
        }

        &-address {
          display: flex;
          align-items: center;
          position: absolute;
          border-radius: 100px;
          border: 1px solid rgba(255, 255, 255, 0.10);
          background: rgba(255, 255, 255, 0.10);
          backdrop-filter: blur(20px);
          padding: 8px 10px;
          left: 16px;
          bottom: 16px;
          font-size: 12px;
        }
      }
    }
  }
}