.hero-wrapper {
  margin: 144px 0 160px 0;


  @media (max-width: 1200px) {
    row-gap: 108px;
    margin: 2px 0 80px 0;
  }
}

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 160px;


  @media (max-width: 1200px) {
    row-gap: 108px;

  }

  &-info {
    display: flex;
    column-gap: 64px;

    @media (max-width: 1200px) {
      flex-direction: column;
      column-gap: unset;
      row-gap: 33px;
    }

    &-text {
      display: flex;
      flex-direction: column;
      row-gap: 32px;
      max-width: 555px;

      @media (max-width: 1200px) {
        order: 2;
        row-gap: 16px;

        &:last-child {
          align-self: center;
        }
      }

      &__title {

        @media (max-width: 1200px) {
          font-size: 21px;
        }
      }

      &__description {
        font-size: 24px;

        @media (max-width: 1200px) {
          font-size: 17px;
        }
      }

      &__link {
        padding: 12px 37px;
        max-width: 168px;

        @media (max-width: 1200px) {

        }
      }
    }

    &__img {
      max-width: 658px;

      @media (max-width: 1200px) {
        order: 1;
      }
    }

    &-slider {
      display: flex;
      flex-direction: column;
      max-width: 681px;
      width: 100%;

      @media (max-width: 1200px) {
        order: 1;
      }

      &__slide {

      }

      &-pagination {
        display: grid;
        justify-content: center;
        padding-top: 24px;
        column-gap: 18px;
        grid-template-columns: repeat(auto-fit, 120px);

        @media (max-width: 1200px) {
          grid-template-columns: repeat(auto-fit, 80px);
          padding-top: 17px;
          column-gap: 18px;
        }

        &__item {
          border-radius: 1000px;
          background: rgba(255, 255, 255, 0.10);
          width: 100%;
          max-width: 120px;
          height: 3px;

          @media (max-width: 1200px) {

          }

          &.active {
            background: $default-green;
          }
        }
      }
    }


  }


}