.instruments-wrapper {
  margin-bottom: 160px;

  @media (max-width: 1200px) {
    margin-bottom: 80px;
  }
}

.instruments {
  display: flex;
  flex-direction: column;
  align-items: center;


  &__title {
    margin-bottom: 32px;
    text-align: center;

    @media (max-width: 1200px) {
      margin-bottom: 16px;
      font-size: 21px;
    }
  }

  &__description {
    margin-bottom: 64px;
    max-width: 762px;
    text-align: center;

    @media (max-width: 1200px) {

    }
  }

  &-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    ::-webkit-scrollbar {
      width: 0;
      height:0;
    }

    ::-webkit-scrollbar-track {
      background: transparent;
    }

    ::-webkit-scrollbar-thumb {
      background-color: $default-white;
      border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
      background-color: $focused-white;
    }


    &-items {
      display: flex;
      column-gap: 64px;
      margin: 0 auto;
      overflow-x: scroll;

      @media (max-width: 1200px) {
        column-gap: 16px;
      }

      &-item {


        @media (max-width: 1200px) {

        }

        &__img {

          @media (max-width: 1200px) {
            width: 147px;
          }
        }
      }
    }
  }
}