.products-wrapper {
  margin-bottom: 160px;

  @media (max-width: 1200px) {
    margin-bottom: 80px;
  }

}

.products {
  display: flex;
  align-items: center;
  flex-direction: column;


  @media (max-width: 1200px) {

  }


  &__title {
    margin-bottom: 32px;
    text-align: center;

    @media (max-width: 1200px) {
      font-size: 21px;
    }
  }

  &__descriptions {
    margin-bottom: 64px;
    max-width: 762px;
    text-align: center;

    @media (max-width: 1200px) {
      margin-bottom: 32px;
    }
  }

  &-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    column-gap: 32px;
    align-items: center;
    justify-content: center;
    row-gap: 16px;

    @media (max-width: 1200px) {
      grid-template-columns: 1fr;
      row-gap: 16px;
      width: 100%;
    }

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      max-width: 412px;
      width: 100%;
      row-gap: 16px;
      border-radius: 18px;
      border: 0.5px solid rgba(255, 255, 255, 0.05);
      background: rgba(255, 255, 255, 0.02);
      max-height: 260px;
      padding: 42px 48px;

      @media (max-width: 1200px) {
        max-width: 100%;
        flex-direction: row;
        justify-content: start;
        padding: 16px 15px;
        column-gap: 16px;
      }

      &__icon {
        max-width: 100px;

        @media (max-width: 1200px) {
          max-width: 60px;
        }

      }

      &__title {
        text-align: center;
        font-weight: 400;

        @media (max-width: 1200px) {
          text-align: left;
        }
      }
    }
  }


}