<!DOCTYPE html>
<html lang="ru">
<head>
    <script defer src="/src/js/language-switcher.js"></script>
    <link rel="image" type="icon/svg+xml" href="/images/title_logo.svg">
</head>
<div class="nav-wrapper" id="navWrapperEl">
    <div class="container">
        <nav class="nav">
            <a href="#" class="nav-logo">
                <img class="nav-logo__image" src="/images/nav/logo.svg" alt="logo">
            </a>
            <section class="nav-right">
                <nav class="nav-right-menu">
                    {{# each menuItems }}
                    {{# with this }}
                    <a href="{{ href }}" class="nav-right-menu__item {{#if isActive }}active{{/if}}">{{ title }}</a>
                    {{/ with }}
                    {{/ each }}
                </nav>
                <section class="nav-right-language" id="lang-toggle">
                    <img src="/images/nav/rus-flag.svg" alt="current language"
                         class="nav-right-language__language-flag">
                    RU
                    <img src="/images/nav/arrow-dropdown.svg" alt="arrow" class="nav-right-language__arrow-icon">

                    <div class="nav-right-language-popup hide" id="hide">
                        <button class="nav-right-language-popup__btn active">
                            <img src="/images/nav/rus-flag.svg" alt="current language"
                                 class="nav-right-language__language-flag">
                            RU
                        </button>
                        <button class="nav-right-language-popup__btn">
                            <img src="/images/nav/eng-flag.svg" alt="current language"
                                 class="nav-right-language__language-flag">
                            EN
                        </button>
                        <button class="nav-right-language-popup__btn">
                            <img src="/images/nav/uae-flag.svg" alt="current language"
                                 class="nav-right-language__language-flag">
                            AE
                        </button>
                    </div>
                </section>
                <section class="nav-right-socials">
                    <a href="#" class="nav-right-socials__telegram-link" target="_blank">

                    </a>
                    <a href="#" class="nav-right-socials__twitter-link" target="_blank">

                    </a>
                    <a href="#" class="nav-right-socials__youtube-link" target="_blank">

                    </a>
                    <a href="#" class="nav-right-socials__whatsapp-link" target="_blank">

                    </a>
                </section>

                <span class="mobile-only burger-btn nav-right-burger" id="nav-right-burger">
            <span class="nav-right-burger__line"></span>
            <span class="nav-right-burger__line"></span>
            <span class="nav-right-burger__line"></span>
        </span>


            </section>

            <section class="mobile-only nav-dropdown-menu" id="nav-dropdown-menu">
                {{# each menuItems }}
                {{# with this }}
                <a href="{{ href }}" class="nav-dropdown-menu__item {{#if isActive }}active{{/if}}">{{ title
                    }}</a>
                {{/ with }}
                {{/ each }}
                <section class="nav-dropdown-menu-socials">

                    <a href="#" class="nav-dropdown-menu-socials__telegram-link" target="_blank">

                    </a>
                    <a href="#" class="nav-dropdown-menu-socials__twitter-link" target="_blank">

                    </a>
                    <a href="#" class="nav-dropdown-menu-socials__youtube-link" target="_blank">

                    </a>
                    <a href="#" class="nav-dropdown-menu-socials__whatsapp-link" target="_blank">

                    </a>

                </section>
            </section>
        </nav>
    </div>
</div>