@import "../variables.scss";

.world-events-wrapper {
  margin-top: 64px;

  @media (max-width: 1200px) {
    margin-top: 32px;
  }
}

.world-events {
  display: flex;
  flex-direction: column;
  row-gap: 32px;

  @media (max-width: 1200px) {

  }

  &__title {
    max-width: 611px;

    @media (max-width: 1200px) {
      font-size: 21px;
    }
  }

  &__subtitle {
    max-width: 618px;
    font-size: 17px;

    @media (max-width: 1200px) {

    }
  }

  &-selection {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    overflow-x: auto;

    @media (max-width: 1200px) {

    }

    &-overlay {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;

      ::-webkit-scrollbar {
        width: 0;
        height:0;
      }

      ::-webkit-scrollbar-track {
        background: transparent;
      }

      ::-webkit-scrollbar-thumb {
        background-color: $default-white;
        border-radius: 10px;
      }

      ::-webkit-scrollbar-thumb:hover {
        background-color: $focused-white;
      }

      &-filter {
        display: flex;
        column-gap: 16px;
        overflow-x: auto;
        flex-wrap: nowrap;

        @media (max-width: 1200px) {
          max-height: 38px;
        }


        &-button {
          padding: 12px;

          @media (max-width: 1200px) {
            white-space: nowrap;
          }

          &:hover {

          }

          &.active {

          }
        }
      }
    }



    &-cards {
      display: grid;
      justify-content: center;
      width: 100%;
      grid-template-columns: repeat(auto-fill, minmax(412px, 1fr));
      grid-template-rows: auto;
      gap: 32px;

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
      }

      &-item {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        padding: 16px;
        width: 100%;
        border-radius: 16px;
        border: 1px solid rgba(255, 255, 255, 0.05);
        background: rgba(255, 255, 255, 0.02);

        @media (max-width: 1200px) {
          row-gap: unset;
          padding: unset;
        }

        &-view {
          position: relative;
          width: 100%;

          @media (max-width: 1200px) {

          }

          &__img {
            border-radius: 16px 16px 0 0;
            width: 100%;
            height: 100%;
            object-fit: cover;

            @media (max-width: 1350px) {
              height: 300px;
            }

            @media (max-width: 1350px) {
              height: 175px;
            }
          }

          &__phishing {

            &::before {
              background: url(/public/images/ic_baseline-phishing.svg) no-repeat center / contain;
            }
          }

          &__soviets {

            &::before {
              background: url(/public/images/ic_baseline-pest-control.svg) no-repeat center / contain;
            }
          }

          &__ways {

            &::before {
              background: url(/public/images/ic_baseline-psychology.svg) no-repeat center / contain;
            }
          }

          &__gaming {

            &::before {
              background: url(/public/images/ic_baseline-discord.svg) no-repeat center / contain;
            }
          }

          &__security {

            &::before {
              background: url(/public/images/ic_baseline-gpp-good.svg) no-repeat center / contain;
            }
          }

          &__development {

            &::before {
              background: url(/public/images/ic_outline-data-object.svg) no-repeat center / contain;
            }
          }

          &-information {
            display: flex;
            column-gap: 8px;
            position: absolute;
            bottom: 16px;
            left: 16px;

            @media (max-width: 1200px) {

            }


            &__views {
              display: flex;
              align-items: center;
              font-size: 12px;
              font-weight: 600;
              user-select: none;

              @media (max-width: 1200px) {

              }


              &::before {
                background: url(/public/images/ic_baseline-remove-red-eye.svg) no-repeat center / contain;
              }
            }

            &__date {
              display: flex;
              align-items: center;
              font-size: 12px;
              font-weight: 600;
              user-select: none;

              @media (max-width: 1200px) {

              }

              &:before {
                background: url(/public/images/ic_baseline-date-range.svg) no-repeat center / contain;
              }
            }
          }
        }

        &-image {


        }

        &-text {
          display: flex;
          flex-direction: column;

          @media (max-width: 1200px) {
            padding: 16px;
            row-gap: 8px;
          }

          &__title {

            @media (max-width: 768px) {
              font-size: 21px;
            }
          }

          &__subtitle {
            font-size: 17px;

            @media (max-width: 1200px) {

            }
          }
        }

        &__title {

          @media (max-width: 768px) {
            font-size: 21px;
          }
        }

        &__subtitle {
          font-size: 17px;

          @media (max-width: 1200px) {

          }
        }
      }
    }
  }

  &-pagination {

    &-button {

      &:hover {

      }

      &.active {

      }
    }
  }
}
