<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <script defer src="/src/js/index.js"></script>
    <script type="module" src="/src/pages/production/main.js"></script>
</head>
<body>
{{> navbar }}

<div class="production-wrapper">
    <div class="container">
        <div class="production">
            <section class="production-item">
                <section class="production-item-view">
                    <img class="production-item-view__img" src="/images/production/hp-01.png" alt="hp back">
                    <div class="production-item-view-selection">
                        <button class="production-item-view-selection-arrow">
                            <img class="production-item-view-selection-arrow__left" src="/images/arrow.svg"
                                 alt="arrow left">
                        </button>
                        <div class="production-item-view-selection-items" id="production-item-view-selection-items">
                            <button class="production-item-view-selection-items-item active">
                                <img class="production-item-view-selection-items-item__img"
                                     src="/images/production/hp-01.png" alt="arrow left">
                            </button>
                            <button class="production-item-view-selection-items-item">
                                <img class="production-item-view-selection-items-item__img"
                                     src="/images/production/hp-02.png" alt="arrow left">
                            </button>
                            <button class="production-item-view-selection-items-item">
                                <img class="production-item-view-selection-items-item__img"
                                     src="/images/production/hp-03.png" alt="arrow left">
                            </button>
                            <button class="production-item-view-selection-items-item">
                                <img class="production-item-view-selection-items-item__img"
                                     src="/images/production/hp-04.png" alt="arrow left">
                            </button>
                        </div>
                        <button class="production-item-view-selection-arrow">
                            <img class="production-item-view-selection-arrow__right" src="/images/arrow.svg"
                                 alt="arrow right">
                        </button>
                    </div>
                </section>
                <section class="production-item-description">
                    <h1 class="production-item-description__title">Название продукта Название продукта Название продукта
                        Название продукта </h1>
                    <div class="production-item-description-subtitle">
                        <h2 class="production-item-description-subtitle__title">Описание</h2>
                        <p class="production-item-description-subtitle__text">
                            Описание продукта Наши продукты направлены на безопасность.
                            Безопасность это Наши продукты направлены на безопасность. Безопасн Наши продукты направлены
                            на безопасность.
                            Описание продукта Наши продукты направлены на безопасность. Безопасность это Наши продукты
                            направлены на безопасность.
                            Безопасн Наши продукты направлены на безопасность. Описание продукта Наши продукты
                            направлены на безопасность. Безопасность
                            это Наши продукты направлены на безопасность. Безопасн Наши продукты направлены на
                            безопасность.
                        </p>
                        <a class="production-item-description-subtitle__more" href="#">Подробнее</a>
                    </div>

                </section>
            </section>

            <section class="production-similar">
                <h2 class="production-similar__title">Похожие продукты</h2>
                <div class="production-similar-overlay">
                    <section class="production-similar-overlay-grid">

                        <a class="production-similar-overlay-grid-item" href="#" target="_blank">
                            <div class="production-similar-overlay-grid-item-view">
                                <img class="production-similar-overlay-grid-item-view__img"
                                     src="/images/production/hp-01.png" alt="hp">
                            </div>
                            <section class="production-similar-overlay-grid-item-info">
                                <h2 class="production-similar-overlay-grid-item-info__title">Тут будет название продукта
                                    длинною в две </h2>
                                <p class="production-similar-overlay-grid-item-info__subtitle">
                                    Описание продукта Наши продуты направлены на безопасность. Безопасность это Наши
                                    продукты...
                                </p>
                                <button class="btn line production-similar-overlay-grid-item-info__button">Просмотреть
                                </button>
                            </section>
                        </a>
                        <a class="production-similar-overlay-grid-item" href="#" target="_blank">
                            <div class="production-similar-overlay-grid-item-view">
                                <img class="production-similar-overlay-grid-item-view__img"
                                     src="/images/production/hp-02.png" alt="hp">
                            </div>
                            <section class="production-similar-overlay-grid-item-info">
                                <h2 class="production-similar-overlay-grid-item-info__title">Тут будет название продукта
                                    длинною в две </h2>
                                <p class="production-similar-overlay-grid-item-info__subtitle">
                                    Описание продукта Наши продуты направлены на безопасность. Безопасность это Наши
                                    продукты...
                                </p>
                                <button class="btn line production-similar-overlay-grid-item-info__button">Просмотреть
                                </button>
                            </section>
                        </a>
                        <a class="production-similar-overlay-grid-item" href="#" target="_blank">
                            <div class="production-similar-overlay-grid-item-view">
                                <img class="production-similar-overlay-grid-item-view__img"
                                     src="/images/production/hp-03.png" alt="hp">
                            </div>
                            <section class="production-similar-overlay-grid-item-info">
                                <h2 class="production-similar-overlay-grid-item-info__title">Тут будет название продукта
                                    длинною в две </h2>
                                <p class="production-similar-overlay-grid-item-info__subtitle">
                                    Описание продукта Наши продуты направлены на безопасность. Безопасность это Наши
                                    продукты...
                                </p>
                                <button class="btn line production-similar-overlay-grid-item-info__button">Просмотреть
                                </button>
                            </section>
                        </a>
                        <a class="production-similar-overlay-grid-item" href="#" target="_blank">
                            <div class="production-similar-overlay-grid-item-view">
                                <img class="production-similar-overlay-grid-item-view__img"
                                     src="/images/production/hp-04.png" alt="hp">
                            </div>
                            <section class="production-similar-overlay-grid-item-info">
                                <h2 class="production-similar-overlay-grid-item-info__title">Тут будет название продукта
                                    длинною в две </h2>
                                <p class="production-similar-overlay-grid-item-info__subtitle">
                                    Описание продукта Наши продуты направлены на безопасность. Безопасность это Наши
                                    продукты...
                                </p>
                                <button class="btn line production-similar-overlay-grid-item-info__button">Просмотреть
                                </button>
                            </section>
                        </a>
                    </section>
                </div>

            </section>
        </div>
    </div>
</div>

{{> footer }}
</body>
</html>