<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TrustCrypt - наши продукты</title>
    <script defer src="/src/js/index.js"></script>
    <script type="module" src="/src/pages/products/main.js"></script>
</head>
<body>
{{> navbar }}
<div class="products-grid-wrapper">
    <div class="container">
        <div class="products-grid">
            <h1 class="products-grid__title">Наши продукты</h1>
            <p class="products-grid__subtitle">Мы придерживаемся в своей работе простого принципа:
                детектировать и блокировать любую вредоносную атаку.</p>
            <section class="products-grid-selection">
                <div class="products-grid-selection-overlay">
                    <section class="products-grid-selection-overlay-filter">
                        <button class="btn filter-btn products-grid-selection-overlay-filter-button active">Все продукты
                        </button>
                        <button class="btn filter-btn products-grid-selection-overlay-filter-button">1 категория</button>
                        <button class="btn filter-btn products-grid-selection-overlay-filter-button">2 категория</button>
                        <button class="btn filter-btn products-grid-selection-overlay-filter-button">3 категория</button>
                    </section>
                </div>


                <section class="products-grid-selection-cards">

                    <div class="products-grid-selection-cards-item">
                        <section class="products-grid-selection-cards-item-slider">
                            <div class="products-grid-selection-cards-item-slider-pagination">
                                <button class="products-grid-selection-cards-item-slider-pagination__item"></button>
                                <button class="products-grid-selection-cards-item-slider-pagination__item active"></button>
                                <button class="products-grid-selection-cards-item-slider-pagination__item"></button>
                            </div>
                        </section>
                        <section class="products-grid-selection-cards-item-text">
                            <h3 class="products-grid-selection-cards-item-text__title">Название продукта</h3>
                            <p class="products-grid-selection-cards-item-text__subtitle">Lorem ipsum at vero eos et accusam
                                et justo duo dolores et ea rebum...</p>
                            <a href="#" class="desktop-only products-grid-selection-cards-item-text__details">Подробнее</a>
                        </section>

                    </div>
                    <div class="products-grid-selection-cards-item">
                        <section class="products-grid-selection-cards-item-slider">
                            <div class="products-grid-selection-cards-item-slider-pagination">
                                <button class="products-grid-selection-cards-item-slider-pagination__item"></button>
                                <button class="products-grid-selection-cards-item-slider-pagination__item active"></button>
                                <button class="products-grid-selection-cards-item-slider-pagination__item"></button>
                            </div>
                        </section>
                        <section class="products-grid-selection-cards-item-text">
                            <h3 class="products-grid-selection-cards-item-text__title">Название продукта</h3>
                            <p class="products-grid-selection-cards-item-text__subtitle">Lorem ipsum at vero eos et accusam
                                et justo duo dolores et ea rebum...</p>
                            <a href="#" class="desktop-only products-grid-selection-cards-item-text__details">Подробнее</a>
                        </section>

                    </div>
                    <div class="products-grid-selection-cards-item">
                        <section class="products-grid-selection-cards-item-slider">
                            <div class="products-grid-selection-cards-item-slider-pagination">
                                <button class="products-grid-selection-cards-item-slider-pagination__item"></button>
                                <button class="products-grid-selection-cards-item-slider-pagination__item active"></button>
                                <button class="products-grid-selection-cards-item-slider-pagination__item"></button>
                            </div>
                        </section>
                        <section class="products-grid-selection-cards-item-text">
                            <h3 class="products-grid-selection-cards-item-text__title">Название продукта</h3>
                            <p class="products-grid-selection-cards-item-text__subtitle">Lorem ipsum at vero eos et accusam
                                et justo duo dolores et ea rebum...</p>
                            <a href="#" class="desktop-only products-grid-selection-cards-item-text__details">Подробнее</a>
                        </section>

                    </div>
                    <div class="products-grid-selection-cards-item">
                        <section class="products-grid-selection-cards-item-slider">
                            <div class="products-grid-selection-cards-item-slider-pagination">
                                <button class="products-grid-selection-cards-item-slider-pagination__item"></button>
                                <button class="products-grid-selection-cards-item-slider-pagination__item active"></button>
                                <button class="products-grid-selection-cards-item-slider-pagination__item"></button>
                            </div>
                        </section>
                        <section class="products-grid-selection-cards-item-text">
                            <h3 class="products-grid-selection-cards-item-text__title">Название продукта</h3>
                            <p class="products-grid-selection-cards-item-text__subtitle">Lorem ipsum at vero eos et accusam
                                et justo duo dolores et ea rebum...</p>
                            <a href="#" class="desktop-only products-grid-selection-cards-item-text__details">Подробнее</a>
                        </section>

                    </div>
                    <div class="products-grid-selection-cards-item">
                        <section class="products-grid-selection-cards-item-slider">
                            <div class="products-grid-selection-cards-item-slider-pagination">
                                <button class="products-grid-selection-cards-item-slider-pagination__item"></button>
                                <button class="products-grid-selection-cards-item-slider-pagination__item active"></button>
                                <button class="products-grid-selection-cards-item-slider-pagination__item"></button>
                            </div>
                        </section>
                        <section class="products-grid-selection-cards-item-text">
                            <h3 class="products-grid-selection-cards-item-text__title">Название продукта</h3>
                            <p class="products-grid-selection-cards-item-text__subtitle">Lorem ipsum at vero eos et accusam
                                et justo duo dolores et ea rebum...</p>
                            <a href="#" class="desktop-only products-grid-selection-cards-item-text__details">Подробнее</a>
                        </section>

                    </div>
                    <div class="products-grid-selection-cards-item">
                        <section class="products-grid-selection-cards-item-slider">
                            <div class="products-grid-selection-cards-item-slider-pagination">
                                <button class="products-grid-selection-cards-item-slider-pagination__item"></button>
                                <button class="products-grid-selection-cards-item-slider-pagination__item active"></button>
                                <button class="products-grid-selection-cards-item-slider-pagination__item"></button>
                            </div>
                        </section>
                        <section class="products-grid-selection-cards-item-text">
                            <h3 class="products-grid-selection-cards-item-text__title">Название продукта</h3>
                            <p class="products-grid-selection-cards-item-text__subtitle">Lorem ipsum at vero eos et accusam
                                et justo duo dolores et ea rebum...</p>
                            <a href="#" class="desktop-only products-grid-selection-cards-item-text__details">Подробнее</a>
                        </section>

                    </div>


                </section>


            </section>
            <section class="pagination products-grid-pagination" id="products-grid-pagination">
                <button class="pagination-btn products-grid-pagination-button active">1</button>
                <button class="pagination-btn products-grid-pagination-button">2</button>
                <button class="pagination-btn products-grid-pagination-button">3</button>
                <button class="pagination-btn products-grid-pagination-button">4</button>
            </section>
        </div>
    </div>
</div>

{{> footer }}
</body>
</html>