<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TrustCrypt - события в мире</title>
    <script defer src="/src/js/index.js"></script>
    <script type="module" src="/src/pages/world-events/main.js"></script>
</head>
<body>
{{> navbar }}
<div class="world-events-wrapper">
    <div class="container">
        <div class="world-events">

            <h1 class="world-events__title">
                Последние события в мире киберпространства
            </h1>

            <p class="world-events__subtitle">
                Ознакомьтесь с информацией, чтобы быть в курсе новейших
                киберугроз и получить советы экспертов по безопасности.
            </p>

            <section class="world-events-selection">

                <div class="world-events-selection-overlay">
                    <section class="world-events-selection-overlay-filter" id="world-events-selection-filter">
                        <button class="btn filter-btn world-events-selection-overlay-filter-button active">Все статьи</button>
                        <button class="btn filter-btn world-events-selection-overlay-filter-button">Фишинг</button>
                        <button class="btn filter-btn world-events-selection-overlay-filter-button">Советы</button>
                        <button class="btn filter-btn world-events-selection-overlay-filter-button">Способы</button>
                        <button class="btn filter-btn world-events-selection-overlay-filter-button">Гейминг</button>
                        <button class="btn filter-btn world-events-selection-overlay-filter-button">Безопасность</button>
                        <button class="btn filter-btn world-events-selection-overlay-filter-button">Разработка</button>
                    </section>
                </div>


                <section class="world-events-selection-cards">

                    <div class="world-events-selection-cards-item">

                        <section class="world-events-selection-cards-item-view">
                            <img class="world-events-selection-cards-item-view__img"
                                 src="/images/monitors_img.png" alt="fishing image">
                            <a class="icon-left tertiary-btn world-events-selection-cards-item-view__phishing" href="#">Фишинг</a>
                            <div class="world-events-selection-cards-item-view-information">
                                <p class="icon-left blur world-events-selection-cards-item-view-information__views">
                                    24К
                                </p>
                                <p class="icon-left blur world-events-selection-cards-item-view-information__date">
                                    05.07.2022
                                </p>
                            </div>
                        </section>
                        <section class="world-events-selection-cards-item-text">
                            <h3 class="world-events-selection-cards-item__title">Фишинговая нотификация о привязке телефона
                                о привяз...</h3>
                            <p class="world-events-selection-cards-item__subtitle">Уроки антифишинга: что сотрудники
                                компаний должны знать о
                                фальшивых нотификациях о безопасности записи учет...</p>
                        </section>
                    </div>

                    <div class="world-events-selection-cards-item">
                        <section class="world-events-selection-cards-item-view">
                            <img class="world-events-selection-cards-item-view__img"
                                 src="/images/world-events/graphic_img.png" alt="soviets image">
                            <a class="icon-left tertiary-btn world-events-selection-cards-item-view__soviets" href="#">Советы</a>
                            <div class="world-events-selection-cards-item-view-information">
                                <p class="icon-left blur world-events-selection-cards-item-view-information__views">
                                    24К</p>
                                <p class="icon-left blur world-events-selection-cards-item-view-information__date">
                                    05.07.2022</p>
                            </div>
                        </section>
                        <section class="world-events-selection-cards-item-text">
                            <h3 class="world-events-selection-cards-item__title">Фишинговая нотификация о привязке телефона
                                о привяз...</h3>
                            <p class="world-events-selection-cards-item__subtitle">Уроки антифишинга: что сотрудники
                                компаний должны знать о
                                фальшивых нотификациях о безопасности записи учет...</p>
                        </section>
                    </div>

                    <div class="world-events-selection-cards-item">
                        <section class="world-events-selection-cards-item-view">
                            <img class="world-events-selection-cards-item-view__img"
                                 src="/images/world-events/gift_monster_img.png" alt="ways image">
                            <a class="icon-left tertiary-btn world-events-selection-cards-item-view__ways" href="#">Способы</a>
                            <div class="world-events-selection-cards-item-view-information">
                                <p class="icon-left blur world-events-selection-cards-item-view-information__views">
                                    24К</p>
                                <p class="icon-left blur world-events-selection-cards-item-view-information__date">
                                    05.07.2022</p>
                            </div>
                        </section>
                        <section class="world-events-selection-cards-item-text">
                            <h3 class="world-events-selection-cards-item__title">Фишинговая нотификация о привязке телефона
                                о привяз...</h3>
                            <p class="world-events-selection-cards-item__subtitle">Уроки антифишинга: что сотрудники
                                компаний должны знать о
                                фальшивых нотификациях о безопасности записи учет...</p>
                        </section>
                    </div>

                    <div class="world-events-selection-cards-item">
                        <section class="world-events-selection-cards-item-view">
                            <img class="world-events-selection-cards-item-view__img"
                                 src="/images/game_img.png" alt="gaming image">
                            <a class="icon-left tertiary-btn world-events-selection-cards-item-view__gaming" href="#">Гейминг</a>
                            <div class="world-events-selection-cards-item-view-information">
                                <p class="icon-left blur world-events-selection-cards-item-view-information__views">
                                    24К</p>
                                <p class="icon-left blur world-events-selection-cards-item-view-information__date">
                                    05.07.2022</p>
                            </div>
                        </section>
                        <section class="world-events-selection-cards-item-text">
                            <h3 class="world-events-selection-cards-item__title">Фишинговая нотификация о привязке телефона
                                о привяз...</h3>
                            <p class="world-events-selection-cards-item__subtitle">Уроки антифишинга: что сотрудники
                                компаний должны знать о
                                фальшивых нотификациях о безопасности записи учет...</p>
                        </section>
                    </div>

                    <div class="world-events-selection-cards-item">
                        <section class="world-events-selection-cards-item-view">
                            <img class="world-events-selection-cards-item-view__img"
                                 src="/images/anonim_masks_img.png" alt="security image">
                            <a class="icon-left tertiary-btn world-events-selection-cards-item-view__security"
                               href="#">Безопасность</a>
                            <div class="world-events-selection-cards-item-view-information">
                                <p class="icon-left blur world-events-selection-cards-item-view-information__views">
                                    24К</p>
                                <p class="icon-left blur world-events-selection-cards-item-view-information__date">
                                    05.07.2022</p>
                            </div>
                        </section>
                        <section class="world-events-selection-cards-item-text">
                            <h3 class="world-events-selection-cards-item__title">Фишинговая нотификация о привязке телефона
                                о привяз...</h3>
                            <p class="world-events-selection-cards-item__subtitle">Уроки антифишинга: что сотрудники
                                компаний должны знать о
                                фальшивых нотификациях о безопасности записи учет...</p>
                        </section>
                    </div>

                    <div class="world-events-selection-cards-item">
                        <section class="world-events-selection-cards-item-view">
                            <img class="world-events-selection-cards-item-view__img"
                                 src="/images/code_img.png" alt="development image">
                            <a class="icon-left tertiary-btn world-events-selection-cards-item-view__development"
                               href="#">Разработка</a>
                            <div class="world-events-selection-cards-item-view-information">
                                <p class="icon-left blur world-events-selection-cards-item-view-information__views">
                                    24К</p>
                                <p class="icon-left blur world-events-selection-cards-item-view-information__date">
                                    05.07.2022</p>
                            </div>
                        </section>
                        <section class="world-events-selection-cards-item-text">
                            <h3 class="world-events-selection-cards-item__title">Фишинговая нотификация о привязке телефона
                                о привяз...</h3>
                            <p class="world-events-selection-cards-item__subtitle">Уроки антифишинга: что сотрудники
                                компаний должны знать о
                                фальшивых нотификациях о безопасности записи учет...</p>
                        </section>
                    </div>


                </section>
            </section>

            <section class="pagination world-events-pagination" id="world-events-pagination">
                <button class="pagination-btn world-events-pagination-button active">1</button>
                <button class="pagination-btn world-events-pagination-button">2</button>
                <button class="pagination-btn world-events-pagination-button">3</button>
                <button class="pagination-btn world-events-pagination-button">4</button>
            </section>

        </div>
    </div>
</div>
{{> footer }}
</body>
</html>