.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: 0 auto;
}

.footer {
  padding: 64px 0;

  @media (max-width: 1200px) {
    padding: 16px 0;
  }

  &__text {
    font-size: 17px;

    @media (max-width: 1200px) {
      font-size: 12px;
    }
  }
}