@import "variables.scss";
@import "fonts.scss";
@import "reset.scss";
@import "navbar";
@import "footer.scss";
@import "./components/index.scss";

html {
  scroll-behavior: smooth;
}

body {
  background: url("/images/bg_image.jpg");
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  min-height: 100vh;
}

.container {
  position: relative;
  max-width: 1348px;
  min-height: 100%;

  height: 100%;
  margin: 0 auto;
  padding: 0 24px;

  @media (max-width: 1200px) {
    padding: 16px 14px;
  }
}

.wrapper {

}

.mobile-only {

  @media (min-width: 1200px) {
    display: none;
  }
}

.desktop-only {

  @media (max-width: 1200px) {
    display: none;

  }
}

.hide {
  display: none;
}

.opened {

}

.text-align-center {

  @media (max-width: 1200px) {
    text-align: center;
  }
}