.nav-wrapper {
  background: rgba(17, 1, 30, 0.10);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  position: sticky;
  top: 0;
  z-index: 10;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-logo {
    max-width: 180px;

    @media (max-width: 1200px) {
      max-width: 146px;
      max-height: 28px;
    }

    &__image {

    }
  }

  &-right {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 64px;

    @media (max-width: 1200px) {
      column-gap: 16px;
    }


    &-menu {
      display: flex;
      align-items: center;
      column-gap: 30px;

      @media (max-width: 1200px) {
        display: none;
      }

      &__item {
        position: relative;
        display: flex;
        padding: 26px 0;
        @media (max-width: 1200px) {

        }

        &::before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;

          width: 0;
          height: 3px;
          background: $default-green;

          transition: width .3s;
        }

        &.active, &:hover {
          color: $default-green;
          transition: color .2s;
        }

        &.active::before, &:hover::before {
          width: 100%;
        }
      }
    }

    &-language {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 4px;
      padding: 4px;
      cursor: pointer;

      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      @media (max-width: 1200px) {

      }

      &__language-flag {

        @media (max-width: 1200px) {

        }
      }

      &__arrow-icon {


      }

      &-popup {
        position: absolute;
        top: 100%;
        display: flex;
        flex-direction: column;
        z-index: 15;

        @media (max-width: 1200px) {

        }

        &__btn {
          display: flex;
          justify-content: center;
          align-items: center;
          column-gap: 4px;
          background: rgba(255, 255, 255, 0.05);
          padding: 4px 24px 4px 4px;
          text-transform: uppercase;
          cursor: pointer;
          font-family: Inter, sans-serif;
          font-size: 17px;

          &:hover {
            background: rgba(255, 255, 255, 0.10);
          }

          &:first-child {
            border-radius: 4px 4px 0 0;
          }

          &:last-child {
            border-radius: 0 0 4px 4px;
          }

          &.active {
            background: rgba(255, 255, 255, 0.15);
          }
        }

        &.hide {
          display: none;
        }
      }


    }

    &-socials {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 20px;

      @media (max-width: 1200px) {
        display: none;
      }

      &__telegram-link {
        width: 24px;
        height: 24px;
        background-image: url(/dist/images/nav/telegram_icon.svg);
        transition: background .2s;

        &:hover {
          background-image: url("/dist/images/nav/telegram_icon_hover.svg");
        }
      }

      &__twitter-link {
        width: 24px;
        height: 24px;
        background-image: url(/dist/images/nav/twitter_icon.svg);
        transition: background .2s;

        &:hover {
          background-image: url("/dist/images/nav/twitter_icon_hover.svg");
        }
      }

      &__youtube-link {
        width: 24px;
        height: 24px;
        background-image: url(/dist/images/nav/youtube_icon.svg);
        transition: background .2s;

        &:hover {
          background-image: url("/dist/images/nav/youtube_icon_hover.svg");
        }
      }

      &__whatsapp-link {
        width: 24px;
        height: 24px;
        background-image: url(/dist/images/nav/whatsapp_icon.svg);
        transition: background .2s;

        &:hover {
          background-image: url("/dist/images/nav/whatsapp_icon_hover.svg");
        }
      }
    }

    &-burger {

      &__line {

      }
    }
  }

  &-dropdown-menu {
    display: none;
    position: fixed;
    height: calc(100vh - $navbar-height);
    width: 100%;
    left: 0;
    top: $navbar-height;

    z-index: 5;

    background: rgba(17, 1, 30, 0.80);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);

    &.opened {
      display: block;
      animation: fadeIn 0.3s ease-in;

      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }

    &__item {
      display: block;
      padding: 10px 10px 14px 10px;
      width: 100%;
      font-size: 14px;
      z-index: 1;

      &:hover {
        background: $click-green;
      }

      &.active {
        border: 1px solid rgba(255, 255, 255, 0.10);
        background: rgba(255, 255, 255, 0.05);
      }
    }

    &-socials {
      margin-top: 10px;
      display: flex;
      justify-content: center;

      align-items: center;
      column-gap: 9px;


      &__telegram-link {
        width: 24px;
        height: 24px;
        background-image: url(/dist/images/nav/telegram_icon.svg);
        transition: background .2s;

        &:hover {
          background-image: url("/dist/images/nav/telegram_icon_hover.svg");
        }
      }

      &__twitter-link {
        width: 24px;
        height: 24px;
        background-image: url(/dist/images/nav/twitter_icon.svg);
        transition: background .2s;

        &:hover {
          background-image: url("/dist/images/nav/twitter_icon_hover.svg");
        }
      }

      &__youtube-link {
        width: 24px;
        height: 24px;
        background-image: url(/dist/images/nav/youtube_icon.svg);
        transition: background .2s;

        &:hover {
          background-image: url("/dist/images/nav/youtube_icon_hover.svg");
        }
      }

      &__whatsapp-link {
        width: 24px;
        height: 24px;
        background-image: url(/dist/images/nav/whatsapp_icon.svg);
        transition: background .2s;

        &:hover {
          background-image: url("/dist/images/nav/whatsapp_icon_hover.svg");
        }
      }
    }
  }
}



