@import "variables.scss";
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;

  color: $default-white;
  font-family: "inter", sans-serif;
}

html {
  height: 100%;
}

body {
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
}

a {
  text-decoration: none;
}

input {
  background: none;
  border: none;
  outline: none;
}

button {
  background: transparent;
  cursor: pointer;
}

img {
  width: 100%;
}

h1, h2 {
  font-size: 34px;
  font-style: normal;
  font-weight: 700;

  @media (max-width: 1324px) {
    font-size: 21px;
  }
}

h3 {
  font-size: 24px;
}

p {
  font-size: 17px;
  color: #d4d4d4;
}





