@import "/src/scss/variables.scss";

.production-wrapper {
  margin-top: 64px;

  @media (max-width: 768px) {
    margin-top: 32px;
  }
}

.production {
  display: flex;
  flex-direction: column;

  row-gap: 64px;

  @media (max-width: 1200px) {

  }

  &-item {
    display: grid;
    grid-template-columns: 409px 1fr;
    column-gap: 64px;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      row-gap: 32px;
    }

    &-view {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 16px;

      @media (max-width: 1200px) {

      }

      &__img {
        border-radius: 8px;
        border: 1px solid rgba(255, 255, 255, 0.10);
        background: rgba(255, 255, 255, 0.05);
        padding: 96px 32px;

        @media (max-width: 1200px) {
          padding: 16px;
        }
      }

      &-selection {
        display: flex;
        column-gap: 17px;

        @media (max-width: 1200px) {
          column-gap: 14px;
        }

        &-arrow {
          display: flex;
          width: 54px;
          height: 54px;
          justify-content: center;
          align-items: center;
          padding: 10px;

          border-radius: 8px;
          border: 1px solid rgba(255, 255, 255, 0.05);
          background: rgba(255, 255, 255, 0.03);
          transition: color, background-color .2s;

          @media (max-width: 1200px) {
            width: 46px;
            height: 46px;
          }

          &:hover {
            border: 1px solid rgba(255, 255, 255, 0.10);
            background: rgba(255, 255, 255, 0.05);

            @media (max-width: 1200px) {

            }
          }

          &__left {
            max-width: 20px;
            max-height: 20px;

            @media (max-width: 1200px) {

            }
          }

          &__right {
            max-width: 20px;
            max-height: 20px;
            transform: rotate(180deg);

            @media (max-width: 1200px) {

            }
          }
        }

        &-items {
          display: flex;
          column-gap: 17px;

          @media (max-width: 1200px) {
            column-gap: 14px;
          }

          @media (max-width: 374px) {
            column-gap: 10px;
          }

          &-item {
            display: flex;
            width: 54px;
            height: 54px;
            justify-content: center;
            align-items: center;
            padding: 10px;

            border-radius: 8px;
            border: 1px solid rgba(255, 255, 255, 0.05);
            background: rgba(255, 255, 255, 0.03);
            transition: color, background-color .2s;

            @media (max-width: 1200px) {
              width: 46px;
              height: 46px;
            }

            &:hover {
              border: 1px solid rgba(255, 255, 255, 0.10);
              background: rgba(255, 255, 255, 0.05);

              @media (max-width: 1200px) {

              }
            }

            &.active {
              border-radius: 4px;
              border: 1px solid rgba(255, 255, 255, 0.10);
              background: rgba(255, 255, 255, 0.10);
              cursor: unset;

              @media (max-width: 1200px) {

              }
            }

            &__img {

            }
          }

        }
      }
    }

    &-description {
      display: flex;
      flex-direction: column;
      row-gap: 32px;

      @media (max-width: 1200px) {

      }

      &__title {

        @media (max-width: 1200px) {
          font-size: 21px;
        }
      }

      &-subtitle {

        &__title {
          font-size: 24px;
          font-weight: 700;
          margin-bottom: 16px;

          @media (max-width: 1200px) {
            font-size: 17px;
          }
        }

        &__text {

          @media (max-width: 1200px) {
            font-size: 14px;
          }
        }

        &__more {
          text-decoration: underline;

          @media (max-width: 1200px) {
            font-size: 14px;
          }
        }

      }

    }
  }

  &-similar {
    display: flex;
    flex-direction: column;
    row-gap: 64px;

    @media (max-width: 1200px) {

    }

    &__title {

    }

    &-overlay {

      @media (max-width: 1200px) {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        width: 100%;
        height: 100%;
      }

      ::-webkit-scrollbar {
        width: 0;
        height: 0;
      }

      ::-webkit-scrollbar-track {
        background: transparent;
      }

      ::-webkit-scrollbar-thumb {
        background-color: $default-white;
        border-radius: 10px;
      }

      ::-webkit-scrollbar-thumb:hover {
        background-color: $focused-white;
      }

      &-grid {
        display: grid;
        gap: 64px;
        grid-template-columns: repeat(auto-fit, 566px);
        overflow-x: auto;

        @media (max-width: 1200px) {
          display: flex;
          gap: 16px;
          grid-template-columns: unset;
        }

        &-item {
          display: grid;
          grid-template-columns: 218px 1fr;
          column-gap: 24px;

          @media (max-width: 1250px) {
            display: flex;
            flex-direction: column;
            width: 181px;
            row-gap: 16px;
          }

          &-view {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 42px 16px;
            border-radius: 8px;
            border: 1px solid rgba(255, 255, 255, 0.10);
            background: rgba(255, 255, 255, 0.05);

            @media (max-width: 1200px) {
              padding: 16px;
              width: 181px;
              height: 137px;
            }

            &__img {
              width: 149px;
              height: 105px;
            }
          }

          &-info {
            display: flex;
            flex-direction: column;
            row-gap: 16px;

            @media (max-width: 1200px) {

            }

            &__title {
              font-size: 24px;

              @media (max-width: 1200px) {
                font-size: 14px;
              }
            }

            &__subtitle {

              @media (max-width: 1200px) {
                display: none;
              }
            }

            &__button {
              padding: 12px;
              max-width: 170px;

              @media (max-width: 1200px) {
                display: none;
              }

            }
          }
        }
      }
    }
  }
}